@charset "UTF-8";
.rotation {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.rotation .rotation-top {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
}

.rotation .rotation-top .rotation-left {
  width: 22%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.rotation .rotation-top .rotation-left .rotation-text {
  width: 100%;
  height: 100%;
  justify-content: space-around;
}

.rotation .rotation-top .rotation-left .rotation-text div {
  font-size: 15px;
  margin-top: 5px;
}

.rotation .rotation-top .rotation-left .rotation-text .text {
  font-size: 30px;
  font-weight: 600;
}

.rotation .rotation-top .rotation-right {
  width: 50%;
  height: 300px;
  display: flex;
  justify-content: flex-end;
  margin-left: 10px;
}

.rotation .rotation-top .rotation-right div {
  width: 65%;
  height: 100%;
  border-radius: 20px;
  background-size: 100% 100%;
  background-image: url(../images/2@/云端编辑图片@2x.png);
}

.rotation .rotation-btn {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.rotation .rotation-btn .btn-right {
  width: 22%;
  height: 100%;
}

.rotation .rotation-btn .btn-right .btn-text {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.rotation .rotation-btn .btn-right .btn-text div {
  font-size: 15px;
  margin-top: 5px;
}

.rotation .rotation-btn .btn-right .btn-text .text {
  font-size: 30px;
  font-weight: 600;
}

.rotation .rotation-btn .btn-left {
  width: 50%;
  height: 300px;
  display: flex;
}

.rotation .rotation-btn .btn-left div {
  width: 65%;
  height: 100%;
  border-radius: 20px;
  background-size: 100% 100%;
  background-image: url(../images/2@/开放图片@2x.png);
}

.rotation-right1 {
  width: 50%;
  height: 300px;
  display: flex;
  justify-content: flex-end;
  margin-left: 10px;
}

.rotation-right1 div {
  width: 65%;
  height: 100%;
  border-radius: 20px;
  background-size: 100% 100%;
  background-image: url(../images/2@/实时分享图片@2x.png);
}

.btn-left1 {
  width: 50%;
  height: 300px;
  display: flex;
}

.btn-left1 div {
  width: 65%;
  height: 100%;
  border-radius: 20px;
  background-size: 100% 100%;
  background-image: url(../images/2@/海量模型素材@2x.png);
}

.rotation-right2 {
  width: 50%;
  height: 300px;
  display: flex;
  justify-content: flex-end;
  margin-left: 10px;
}

.rotation-right2 div {
  width: 65%;
  height: 100%;
  border-radius: 20px;
  background-size: 100% 100%;
  background-image: url(../images/2@/实时分享图片@2x.png);
}

.btn-left2 {
  width: 50%;
  height: 300px;
  display: flex;
}

.btn-left2 div {
  width: 65%;
  height: 100%;
  border-radius: 20px;
  background-size: 100% 100%;
  background-image: url(../images/2@/22222@2x.png);
}
