.rotation {
  width: 100%;
  height: 100%;
  display: flex;
  //   justify-content: center;
  flex-direction: column;

  .rotation-top {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    .rotation-left {
      width: 22%;
      height: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      .rotation-text {
        width: 100%;
        height: 100%;
        justify-content:space-around;
        //   text-align: center;
        div {
          font-size: 15px;
          margin-top: 5px;
        }
        .text {
          font-size: 30px;
          font-weight: 600;
        }
      }
    }
    .rotation-right {
      width: 50%;
      height: 300px;
      display: flex;
      justify-content: flex-end;
      margin-left: 10px;
      div {
        width: 65%;
        height: 100%;
        border-radius: 20px;
        background-size: 100% 100%;
        background-image: url(../images/2@/云端编辑图片@2x.png);
      }
    }
  }
  .rotation-btn {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    margin-top: 5px;
    .btn-right {
      width: 22%;
      height: 100%;
      .btn-text {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content:space-around;

        //   text-align: center;
        div {
          font-size: 15px;
          margin-top: 5px;
        }
        .text {
          font-size: 30px;
          font-weight: 600;
        }
      }
    }
    .btn-left {
      width: 50%;
      height: 300px;
      display: flex;
      //   justify-content: flex-end;
      div {
        width: 65%;
        height: 100%;
        border-radius: 20px;
        background-size: 100% 100%;
        background-image: url(../images/2@/开放图片@2x.png);
      }
    }
  }
}

.rotation-right1 {
  width: 50%;
  height: 300px;
  display: flex;
  justify-content: flex-end;
  margin-left: 10px;
  div {
    width: 65%;
    height: 100%;
        border-radius: 20px;
        background-size: 100% 100%;
    background-image: url(../images/2@/实时分享图片@2x.png);
  }
}

.btn-left1 {
  width: 50%;
  height: 300px;
  display: flex;
  //   justify-content: flex-end;
  div {
    width: 65%;
    height: 100%;
        border-radius: 20px;
        background-size: 100% 100%;
    background-image: url(../images/2@/海量模型素材@2x.png);
  }
}

.rotation-right2 {
    width: 50%;
    height: 300px;
    display: flex;
    justify-content: flex-end;
    margin-left: 10px;
    div {
      width: 65%;
      height: 100%;
        border-radius: 20px;
        background-size: 100% 100%;
      background-image: url(../images/2@/实时分享图片@2x.png);
    }
  }
  
  .btn-left2 {
    width: 50%;
    height: 300px;
    display: flex;
    //   justify-content: flex-end;
    div {
      width: 65%;
      height: 100%;
        border-radius: 20px;
        background-size: 100% 100%;
      background-image: url(../images/2@/22222@2x.png);
    }
  }
